DISCORD_CLIENT_ID=ide_jon_a_discord_client_id
DISCORD_CLIENT_SECRET=ide_jon_a_discord_client_secret
DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord/callback
PORT=3000
LIVE_MAP_TOKEN=change-this-to-a-long-random-secret
